@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar" style="width:0;">
        <NavMenu />
    </div>
    <main style="position: relative;">

        @*<div class="top-row px-4">
            <SearchButton/>
        </div>*@
        <div style="display: flex; flex: 1; flex-direction: column">
            @Body
        </div>
        
        
    </main>
</div>
